@import "mixins/breakpoint";
body {
  background-color: #f1f4f9;
}

.el-row {
  margin-bottom: 35px;
  &:last-child {
    margin-bottom: 0;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity .15s
}

.page-enter,
.page-leave-active {
  opacity: 0
}
